<div class="space-y-2 transition-all duration-300 ease-in-out loading-pulse">
  <div class="p-3 bg-gray-200 rounded-md w-60"></div>
  <div class="w-32 p-3 bg-gray-200 rounded-md"></div>
  <div class="flex space-x-3">
    <div v-for="n in 4" class="w-20 p-3 bg-gray-200 rounded-md"></div>
  </div>
</div>